{% extends "auth/base.html" %}
{% block content %}
{% if request.MOBILE %}
<!--  MOBILE CONTENT  -->
<div id="page-content-mb">
    <div id="content-mb">
        <form id="forgot-password-mb" class="forms forms-auth" action="" method="post" novalidate>
            <h3>Forgot Password</h3>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p>
                {% for message in messages %}
                <span style="color: red;">{{ message }}</span>
                {% endfor %}
            </p>
            {% endif %}
            {% endwith %}
        </form>
    </div>
</div>
{% else %}
<!--  DESKTOP CONTENT  -->
        <form id="forgot-password" class="forms forms-auth" action="" method="post" novalidate>
            <h3>Forgot Password</h3>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p>
                {% for message in messages %}
                <span style="color: red;">{{ message }}</span>
                {% endfor %}
            </p>
            {% endif %}
            {% endwith %}
        </form>
{% endif %}
{% endblock %}